* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#lake {
  translate: 0 0px;
  position: absolute;
  z-index: 3;
}

#himmel {
  translate: 0 0px;
  position: absolute;
  z-index: 1;
}

#ff {
  translate: 0 0px;
  position: absolute;
  z-index: 6;
}
#fb {
  translate: 0 0px;
  position: absolute;
  z-index: 2;
}

body {
  font-size: 20px;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(0, 0, 0);
}

header {
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 40px;
  z-index: 4;
}

nav ul {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 24px;
  list-style-type: none;
  align-items: center;
  padding-right: 24px;
}

nav ul li:nth-child(1) {
  margin-right: auto;
  height: 40px;
  padding-left: 24px;
}

.btn {
  padding: 13px 48px;
  display: inline-block;
  background-color: rgba(159, 92, 136, 0.655);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1000px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

.btn:hover {
  text-decoration: none;
  box-shadow: 0 12px 28px 0 rgba(232, 181, 200, 0.358),
    0 9px 32px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  color: #ffffff;
  z-index: 5;
  font-size: 70px;
}

.beers {
  background-color: #000000;
  width: 100%;
  padding-top: 0%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 700px;
}

.flex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: start;
  gap: 50px;
  padding-bottom: 80px;
  min-height: 650px;
}

.flex1 img {
  margin-left: auto;
}

.flex1 figure {
  width: 50%;
  max-width: 500px;
}

.flex1 article {
  width: 50%;
  max-width: 500px;
  color: #ffffff;
  align-items: flex-end;
  z-index: 3;
}

#beer_background {
  translate: 0 0px;
  position: absolute;
  z-index: 1;
  height: 500px;
}

#beer1 {
  translate: 0 0px;
  position: absolute;
  z-index: 2;

  height: 500px;
}

footer {
  background-color: #000000;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 44px;
  padding-right: 44px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}

footer ul li:nth-child(1) {
  margin-right: auto;
}
footer ul li:nth-child(2) {
  padding-right: 72px;
}

footer li a {
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
}
footer li a:hover {
  transition: all 350ms ease-in-out;
  text-decoration: underline;
}

@media screen and (max-width: 1020px) {
  .buttons {
    gap: 80px;
  }
}

@media screen and (max-width: 800px) {
  .buttons {
    gap: 60px;
  }
  .btn {
    font-size: smaller;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .fontfrontpage {
    display: flex;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  .maxwidth {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .headline {
    max-width: 500px;
  }
  .btn {
    font-size: smaller;
    justify-content: center;
  }

  .buttons {
    gap: 10px;
  }

  .btn {
    flex-direction: end;
  }

  footer ul li:nth-child(2) {
    padding-right: 15px;
  }

  .maxwidth {
    max-width: 500px;
  }
}

@media screen and (max-width: 515px) {
  nav ul {
    width: 100%;
    height: 48px;
    display: flex;
    gap: 15px;
    list-style-type: none;
    align-items: center;
  }
}
